/* block element */
h1 {
  background-color: red;
  display: inline;
}


/* inline element */
a {
  background-color: red;
  display: block;
}

/* p {
  background-color: yellow;
} */

.text {
  background-color: yellow;
}

.important {
  color: red;
  background-color: yellow;
  font-weight: bold;
}