/* specificity */
/* id-class-type */

/* id selector */
/* 1-0-0 */
#heading {
  color: pink;
}

/* 0-1-1 */
h1.heading {
  color: purple;
}

/* class selector */
/* 0-1-0 */
.heading {
  color: blue;
}

/* type selector */
/* 0-0-1 */
h1 {
  color: red;
}

/* 0-1-1 */
p.text {
  background-color: blue;
}

/* 0-2-2 */
section.box p.text {
  background-color: pink;
}

/* 0-2-1 */
.box p.text {
  background-color: orange;
}

/* 1-2-1 */
.box p.text#text {
  background-color: red;
}

p {
  background-color: gold !important;
}

h1 {
  color: red !important;
}
